h1 { color:red ; text-align: center;}
.efecto1 {padding-left: 20px; font-style: oblique; color: blue;}
.cursiva {font-style: italic;}
.cursiva2 {font-style: normal;}
.cursiva3 {font-style: oblique;}
.cursiva4 {font-style: inherit;}
.cursiva5 {font-style: initial;}
.cursiva6 {font-style: unset;}
.negrita {font-weight: bold;}
.negrita2 {font-weight: bolder;}